<section>
  <div class="row">
    <p>Location: ___________________</p>
    <p>___________________________</p>
    <p>___________________________</p>
  </div>
</section>

<hr>

<section>
  <h5>Brand</h5>
  <p>
    <label for="checkbox"> <span class="checkmark"></span><input type="checkbox" checked="checked"> Apple</label>
  </p>
  <p>
    <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> Pixel</label>
  </p>
  <p>
    <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> Lenovo</label>
  </p>
  <p>
    <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> Samsung</label>
  </p>
  <p>
    <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> motorola</label>
  </p>
</section>

<hr>

<section>
  <h5>RAM</h5>
    <p>
      <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> 8 GB</label>
    </p>
    <p>
      <label for="checkbox"> <span class="checkmark"></span><input type="checkbox" checked="checked"> 4 GB</label>
    </p>
    <p>
      <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> 3 GB</label>
    </p>
    <p>
      <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> 2 GB</label>
    </p>
    <p>
      <label for="checkbox"> <span class="checkmark"></span><input type="checkbox"> 1 GB</label>
    </p>
  </section>
