<section>
  <div class="row">
    <p>Location: ___________________</p>
    <p>___________________________</p>
    <p>___________________________</p>
  </div>
</section>

<hr>
<section class="sidebar-nav" style="height:400px;overflow:auto">
<section>
  <h5>Brand</h5>
  <div class="chip">
    Apple
    <i class="close material-icons">close</i>
  </div>
  <div class="chip">
    Samsung
    <i class="close material-icons">close</i>
  </div>
  <hr>
  <div style="height:150px;overflow:auto">
    <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Apple</label>
    </p>
    <p>
      <input type="checkbox" id="test6" />
      <label for="test6">Samsung</label>
    </p>
    <p>
      <input type="checkbox" id="test7" />
      <label for="test7">Google</label>
    </p>
    <p>
      <input type="checkbox" id="test8" />
      <label for="test8">Motorola</label>
    </p>
    <p>
      <input type="checkbox" id="test9" />
      <label for="test9">Xiaomi</label>
    </p>
  </div>
</section>

<hr>

<section>
  <h5>RAM</h5>
  <div class="chip">
    8 GB
    <i class="close material-icons">close</i>
  </div>
  <div class="chip">
    6 GB
    <i class="close material-icons">close</i>
  </div>

  <hr>
  <div style="height:150px;overflow:auto">
  <p>
    <input type="checkbox" id="test10" />
    <label for="test10">8 GB</label>
  </p>
  <p>
    <input type="checkbox" id="test11" />
    <label for="test11">6 GB</label>
  </p>
  <p>
    <input type="checkbox" id="test12" />
    <label for="test12">4 GB</label>
  </p>
  <p>
    <input type="checkbox" id="test13" />
    <label for="test13">2 GB</label>
  </p>
  </div>
</section>
</section>